* {
    box-sizing: border-box;
    margin: .5rem;
}

body {
    background-color: #222;
    color: #ddd;
    font-family: sans-serif;
    text-align: center;
}
form, input, label, button {
    font-family: sans-serif;
}

.app {
    width: 80%;
    margin: 3rem auto;
}